<!DOCTYPE html>
<html>

<head>
    <title>XR 2.5</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>
    <script type="importmap">
        {
  "imports": {
    "three": "{{ url_for('static', filename='libs/three/build/three.module.js') }}",
    "three/addons/": "{{ url_for('static', filename='libs/three/examples/jsm/') }}"
  }
}
</script>

<script type="module">

import * as THREE from 'three';
import Stats from 'three/addons/libs/stats.module.js';
import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
import { VRButton } from 'three/addons/webxr/VRButton.js';
import { GLTFExporter } from 'three/addons/exporters/GLTFExporter.js';
import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';
import { DRACOLoader } from 'three/addons/loaders/DRACOLoader.js';

let stats;
let camera, controls, scene, renderer, meshGroup
let mesh;
let imageWidth, imageHeight;
let heightData;
let xrRefSpace;
let hand1, hand2;
let controller1, controller2;
let controllerGrip1, controllerGrip2;
let conS = [];
let bgColor =  Math.random()*1000000000;
const colorsSet = [0xA8E6CE,0xDCEDC2,0xFFD3B5,0xFFAAA6,0xFF8C94]


const container = document.createElement('div');
document.body.appendChild(container);

const clock = new THREE.Clock();

/* Colors */
import * as cols from '{{ url_for('static', filename='libs/colors/pastels.js') }}';

/* Rapier */
import RAPIER from '{{ url_for('static', filename='libs/rapier3d-compat/rapier.es.js') }}';

let groundHeight = 0;
let eventQueue;

window.myRapierWorld
window.rigidBodies = window.rigidBodies || [];
window.threeCubes = window.threeCubes || [];

async function run_physics() {

    await RAPIER.init();

    console.log(RAPIER)

    let gravity = { x: 0.0, y: -1.4, z: 0.0 };
    let world = new RAPIER.World(gravity);
    const eventQueue = new RAPIER.EventQueue(true);

    const dracoLoader = new DRACOLoader();
    dracoLoader.setDecoderPath('static/libs/draco'); 

    const loader = new GLTFLoader();
    loader.setDRACOLoader(dracoLoader);

    loader.load('{{ url_for('static', filename='models/test.glb') }}', gltf => {

        let mesh = gltf.scene
        mesh.name = "PAD"

        scene.add(mesh);
        window.cube = mesh;

        controls.target.copy(mesh.position)
        controls.update();

        gltf.scene.traverse(item => {

            if (item.isMesh) {
          
                const geometry = item.geometry;
          
                console.log(geometry)

                const vertices = geometry.attributes.position.array;
                const indices = geometry.index.array;

                const trimesh = new RAPIER.TriMesh(vertices, indices);

                console.log('TriMesh created successfully', trimesh);

                // console.log('Vertices length:', vertices.length);
                // console.log('Indices length:', indices.length);

                let groundColliderDesc = RAPIER.ColliderDesc.trimesh(trimesh)
                    .setDensity(100)
                    .setTranslation(0, groundHeight, 0)
                    .setActiveEvents(RAPIER.ActiveEvents.COLLISION_EVENTS);

                // this part is a kind of hack...
                groundColliderDesc.shape.indices = indices;
                groundColliderDesc.shape.vertices = vertices;


                let groundCollider = world.createCollider(groundColliderDesc);
                window.groundColliderHandle = groundCollider.handle;

                window.myRapierWorld = world;
                window.eventQueue = eventQueue;

            }
        })

    });

}

RAPIER.init().then(() => {
    run_physics();
});

/* Shaders */

function addRainbow() {

    const rainbowShader = {
        uniforms: {},
        vertexShader: `
            varying vec2 vUv;
            void main() {
                vUv = uv;
                gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
            }
        `,
        fragmentShader: `
            varying vec2 vUv;
            void main() {
                float h = vUv.y;
                vec3 color;
                if(h < 0.2) {
                    color = mix(vec3(0.8, 0.5, 0.6), vec3(0.9, 0.6, 0.8), h / 0.2);
                } else if(h < 0.4) {
                    color = mix(vec3(0.9, 0.6, 0.8), vec3(0.8, 0.7, 0.9), (h - 0.2) / 0.2);
                } else if(h < 0.6) {
                    color = mix(vec3(0.8, 0.7, 0.9), vec3(0.7, 0.9, 1.0), (h - 0.4) / 0.2);
                } else if(h < 0.8) {
                    color = mix(vec3(0.7, 0.9, 1.0), vec3(0.6, 1.0, 0.8), (h - 0.6) / 0.2);
                } else {
                    color = mix(vec3(0.6, 1.0, 0.8), vec3(0.8, 1.0, 0.7), (h - 0.8) / 0.2);
                }
                gl_FragColor = vec4(color, 1.0);
            }
        `
    };


    const rainbowMaterial = new THREE.ShaderMaterial({
        vertexShader: rainbowShader.vertexShader,
        fragmentShader: rainbowShader.fragmentShader,
        side: THREE.BackSide // Render the inside of the geometry, so we see it as a background
    });

    const backgroundGeometry = new THREE.BufferGeometry(2, 2);
    const backgroundMesh = new THREE.Mesh(backgroundGeometry, rainbowMaterial);

    scene.add(backgroundMesh);

}

window.addRainbow = addRainbow;




function dropSomething() {
  if(Math.random()*1 > 0.3) {
    shootBallFromTop()
  }
}

function dumpMachine() {
  setInterval(()=> {
    dropSomething();
  }, 60)
}


function addBallFromCamera(radius, color, offsetY = 0.2, density = 1) {

    // Get camera position and direction
    const cameraPosition = camera.position;
    const cameraDirection = new THREE.Vector3();
    camera.getWorldDirection(cameraDirection);
    // Apply offset to the Y-component of the camera direction
    cameraDirection.y += offsetY;
    // Normalize the direction vector after applying the offset
    cameraDirection.normalize();


    // Speed factor to apply to the camera direction for the ball velocity
    const speedFactor = 40;
    // Create the rigid body description and set its properties
    let rigidBodyDesc = RAPIER.RigidBodyDesc.dynamic()
                          .setTranslation(cameraPosition.x, cameraPosition.y, cameraPosition.z)
                          .setLinvel(cameraDirection.x * speedFactor, cameraDirection.y * speedFactor, cameraDirection.z * speedFactor);
    let rigidBody = myRapierWorld.createRigidBody(rigidBodyDesc);

    //let texture = texturesCache[Math.floor(Math.random() * texturesCache.length)].texture;
    
      // Sphere Core
      const sphereGeometry = new THREE.SphereGeometry(radius,16,12);
      //const sphereMaterial = new THREE.MeshBasicMaterial({ color: 0xFF0000 });

      const myBallMaterial = new THREE.MeshBasicMaterial({ color: color });
      
      const sphereMesh = new THREE.Mesh(sphereGeometry, myBallMaterial);
      scene.add(sphereMesh);
      // Create the collider
      let colliderDesc = RAPIER.ColliderDesc.ball(radius*1.05).setDensity(density)
      let collider = myRapierWorld.createCollider(colliderDesc, rigidBody);
      // Save the collider handle
      window.colliderHandles = window.colliderHandles || [];
      window.colliderHandles.push(collider.handle); 
      // Push the rigid body and the Three.js sphere to the global arrays:
      window.rigidBodies.push(rigidBody);
      window.threeCubes.push(sphereMesh);  // Consider renaming this array for clarity
}
window.addBallFromCamera = addBallFromCamera;


function shootBallFromTop() {

    let ballSize = 0.4 + Math.random()*0.3

    let rf = 5
    let startY = 40
    let x = Math.random()*rf*4 - Math.random()*rf*4 
    let y = startY + Math.random()*rf - Math.random()*rf 
    let z = -32 + Math.random()*rf - Math.random()*rf 

    //let color = cols.pastelColors[Math.floor(Math.random()*cols.pastelColors.length)];
    let idx = Math.floor(Math.random()*cols.pinkOrangeColors.length)
    let color = cols.pinkOrangeColors[idx]; 
    //console.log(idx)
    
    //console.log(color)

    addBallFromTop(
      ballSize, 
      color, 
      0.1, 
      10, 
      {x:x, y:y, z:z})

    //au.playAudioFromFile(au.findSounds(audioData, "kick2")[0])
    
    // Your code here
}
window.shootBallFromTop = shootBallFromTop;



function addBallFromTop(radius, color, offsetY = 0.2, density = 1, position) {

    const speedFactor = 10 + Math.random() * 10;

    // Ensure that texturesCache is defined and not empty
    // if (!texturesCache || texturesCache.length === 0) {
    //     console.error("texturesCache is undefined or empty");
    //     return;
    // }

    // let textureData = texturesCache[Math.floor(Math.random() * texturesCache.length)];
    // if (!textureData || !textureData.texture) {
    //     console.error("Invalid texture data found in texturesCache");
    //     return;
    // }
    // let texture = textureData.texture;

    // Rigid Body
    let rigidBodyDesc = RAPIER.RigidBodyDesc.dynamic()
                          .setTranslation(position.x, position.y, position.z)
                          .setLinvel(0 * speedFactor, -1 * speedFactor, 0 * speedFactor);
    let rigidBody = myRapierWorld.createRigidBody(rigidBodyDesc);

    // Sphere Core
    const sphereGeometry = new THREE.SphereGeometry(radius,16,12);
    const myBallMaterial = new THREE.MeshStandardMaterial({ 
//        map: texture,
        color: color,
        wireframe: false,
        metalness: 0.35,
        roughness: 0.1,
        transparent: true,
//        bumpMap: texture,
        bumpScale: 1,
        opacity: 0.75
    });
    const sphereMesh = new THREE.Mesh(sphereGeometry, myBallMaterial);
    scene.add(sphereMesh);

    sphereMesh.castShadow = true;
    sphereMesh.receiveShadow = true;

    // Collider
    let colliderDesc = RAPIER.ColliderDesc.ball(radius).setDensity(density);
    let collider = myRapierWorld.createCollider(colliderDesc, rigidBody);

    // Save the collider handle
    window.colliderHandles = window.colliderHandles || [];
    //console.log("collider.handle:",collider.handle)
    window.colliderHandles.push(collider.handle);

    // Push to global arrays
    window.rigidBodies.push(rigidBody);
    window.threeCubes.push(sphereMesh);  // Consider renaming `threeCubes` to a more appropriate name like `threeSpheres`

}

window.addBallFromTop = addBallFromTop;



function shootBall() {

    console.log("shootBall - Spacebar released!");

    let ballSize = 0.5 + Math.random()*0.1;

    // addBallFromCamera(radius, color, offsetY = 0.2, density = 1) {
    
    addBallFromCamera(ballSize, colorsSet[Math.floor(Math.random()*colorsSet.length)], 0.1, 4)
    
    //addBallFromShotLineEnd(ballSize, colorsSet[Math.floor(Math.random()*colorsSet.length)], 0.1, 1)
    //au.playAudioFromFile(au.findSounds(audioData, "kick2")[0])
}
window.shootBall = shootBall

document.addEventListener('keyup', function(event) {
if (event.keyCode === 32) {
    shootBall()
  }
  if (event.keyCode === 86) {
    dropSomething()
  }
})


function logEvents() {

    // window.eventQueue.drainCollisionEvents((handle1, handle2, started) => {
    //     //console.log("Inside drainCollisionEvents. Handle1:", handle1, "Handle2:", handle2, "Started:", started);
        
    //     if (handle1 === window.liftColliderHandle || handle2 === window.liftColliderHandle) {
    //         let ballHandle = handle1 === window.liftColliderHandle ? handle2 : handle1;
    //         console.log(`Monkey is involved in a collision event with ball: ${ballHandle}`);
            
    //         // If the collision has stopped and this ball handle hasn't been handled already
    //         if (!started && !window.handledBalls.includes(ballHandle)) {
    //             incrementPoints(ballHandle);  // Pass the ball handle to the incrementPoints function
    //         }
    //     }
    // });


}



function updateRapier() {

    if (window.myRapierWorld && window.rigidBodies && window.threeCubes) {

        // Check if sizes match
        if (window.rigidBodies.length !== window.threeCubes.length) {
            console.error("Mismatched sizes: rigidBodies vs threeCubes");
            return;
        }

        window.myRapierWorld.step(window.eventQueue);

        for (let i = 0; i < window.rigidBodies.length; i++) {

            if (window.rigidBodies[i].bodyType() == 0) {

                let position = window.rigidBodies[i].translation();
                let rotation = window.rigidBodies[i].rotation();

                // Check if position and rotation are valid before setting
                if (position && rotation) {
                    window.threeCubes[i].position.set(position.x, position.y, position.z);
                    window.threeCubes[i].quaternion.set(rotation.x, rotation.y, rotation.z, rotation.w);
                } else {
                    console.warn(`Invalid position or rotation at index ${i}`);
                }
            }
        }

        logEvents();
    }
}






function exportGLB(mesh) {
    const exporter = new GLTFExporter();
    let glbData;
    exporter.parse(mesh, (result) => {
        const binary = new Blob([result], { type: 'application/octet-stream' });
        glbData = binary;
        const link = document.createElement('a');
        link.style.display = 'none';
        document.body.appendChild(link);
        const url = URL.createObjectURL(glbData);
        link.href = url;
        link.download = 'model.glb';
        link.click();
        URL.revokeObjectURL(url);
        document.body.removeChild(link);
    }, { binary: true });
}
window.exportGLB = exportGLB;


function exportGLTF(mesh) {
    const exporter = new GLTFExporter();
    let gltfData;
    exporter.parse(mesh, (result) => {
        if (result instanceof ArrayBuffer) {
            gltfData = result;
        } else {
            const output = JSON.stringify(result, null, 2);
            gltfData = new Blob([output], { type: 'text/plain' });
        }
        const link = document.createElement('a');
        link.style.display = 'none';
        document.body.appendChild(link);
        const url = URL.createObjectURL(gltfData);
        link.href = url;
        link.download = 'model.gltf';
        link.click();
        URL.revokeObjectURL(url);
        document.body.removeChild(link);
    });
}
window.exportGLTF = exportGLTF;

function onXRSessionStart() {
    const session = renderer.xr.getSession();
    console.log("onSessionStart session", session);
    session.requestReferenceSpace('local').then((referenceSpace) => {
        xrRefSpace = referenceSpace;
    });
}

function onXRSessionEnd() {
    console.log("onSessionEnd")
    if (renderer.xr.isPresenting) {
        renderer.xr.end();
    }
}

function initializeThreeJS(uploadedImageUrl, depthImageUrl) {
    
    removeAllCubes();

    loadDepthImage(uploadedImageUrl, depthImageUrl);
}

function loadDepthImage(uploadedImageUrl, depthImageUrl) {

    
    const imageLoader = new THREE.ImageLoader();
    
    imageLoader.load(depthImageUrl, function (image) {
        const scale = 0.05;  // 50% of original size, adjust this value as needed
        imageWidth = Math.floor(image.width * scale);
        imageHeight = Math.floor(image.height * scale);

        const canvas = document.createElement('canvas');
        canvas.width = imageWidth;
        canvas.height = imageHeight;

        const context = canvas.getContext('2d');
        context.drawImage(image, 0, 0, imageWidth, imageHeight);

        const imgData = context.getImageData(0, 0, imageWidth, imageHeight);

        heightData = new Uint8Array(imageWidth * imageHeight);

        for (let i = 0, j = 0; i < imgData.data.length; i += 4, j++) {
            const r = imgData.data[i];
            const g = imgData.data[i + 1];
            const b = imgData.data[i + 2];
            heightData[j] = ((r + g + b) / 3) / 10;
        }

        window.heightData = heightData;

        const textureLoader = new THREE.TextureLoader();
        textureLoader.load(uploadedImageUrl, function (texture) {
            makeMesh(texture);
        });
    });
}


function makeScene() {

    console.log("makeScene");
    
    camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 10000);
    scene = new THREE.Scene();
    scene.background = new THREE.Color(0xefd1b5);
    //scene.fog = new THREE.Fog(0xefd1b5, 15, 180); // white fog that starts at 10 units and ends at 50 units.

    
    renderer = new THREE.WebGLRenderer({ antialias: true, xrCompatible: true });
    renderer.setClearColor(0x000000, 1); 
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.shadowMap.enabled = false;
    renderer.xr.enabled = true;
    renderer.xr.addEventListener('sessionstart', onXRSessionStart);
    renderer.xr.addEventListener('sessionend', onXRSessionEnd);
    container.appendChild(renderer.domElement);
    
    //document.body.appendChild(VRButton.createButton(renderer));
    const vrButton = VRButton.createButton(renderer);
    if (navigator.xr) {
        document.body.appendChild(vrButton);
    }

    controls = new OrbitControls(camera, renderer.domElement);
    controls.update()
    
    camera.position.set(0,1.7,10);

    // LIGHTS
    scene.add(new THREE.HemisphereLight(0xFFFFFF, 0xeeeeff, 3));

    const light = new THREE.DirectionalLight(0xffffee, 3);
    light.position.set(0, 4, 0);
    light.castShadow = true;
    light.shadow.camera.top = 2;
    light.shadow.camera.bottom = -2;
    light.shadow.camera.right = 2;
    light.shadow.camera.left = -3;
    light.shadow.mapSize.set(512, 512);

    scene.add(light);

    stats = new Stats();
    stats.dom.id = "myStats"
    document.body.appendChild(stats.domElement);
    let myStats = document.getElementById("myStats");
    document.getElementById("myStats").setAttribute("style", "position: fixed; bottom: 0px; left: 0px; cursor: pointer; opacity: 0.9; z-index: 10000;")

    window.addEventListener('resize', onWindowResize);

    dumpMachine();
    
    animate();

}

function removeAllCubes() {
    for (let i = 0; i < window.threeCubes.length; i++) {
        scene.remove(window.threeCubes[i]);
    }
    
    // Remove from Rapier
    for (let i = 0; i < window.rigidBodies.length; i++) {
        myRapierWorld.removeRigidBody(window.rigidBodies[i]);
    }
    
    // Clear arrays
    window.threeCubes = [];
    window.rigidBodies = [];
}
window.removeAllCubes = removeAllCubes;


function addPhysics(mesh, geometry, density, position = {x:0,y:0,z:0} , rotation = {x:0,y:0,z:0}, scale=1) {

    let quat = new THREE.Quaternion().setFromEuler(new THREE.Euler(rotation.x, rotation.y, rotation.z, 'XYZ'));

    const speedFactor = 10 + Math.random() * 10;

    // Create the rigid body description and set its properties   
    let rigidBodyDesc = RAPIER.RigidBodyDesc.fixed()
        .setTranslation(position.x, position.y, position.z)
        .setRotation({ w: quat.w, x: quat.x, y: quat.y, z: quat.z })        
        //.setLinvel(0 * speedFactor, -1 * speedFactor, 0 * speedFactor);
    let rigidBody = myRapierWorld.createRigidBody(rigidBodyDesc);
    
    const vertices = geometry.attributes.position.array;
    const indices = geometry.index.array;

    const trimesh = new RAPIER.TriMesh(vertices, indices);    
    let colliderDesc = RAPIER.ColliderDesc.trimesh(trimesh).setDensity(density)
    colliderDesc.shape.indices = indices;
    colliderDesc.shape.vertices = vertices;  

    let collider = myRapierWorld.createCollider(colliderDesc, rigidBody);
    window.rigidBodies.push(rigidBody);
    window.threeCubes.push(mesh);
}


function smoothHeightData(heightData, windowSize = 0) {
    const smoothedData = new Float32Array(heightData.length);
    for (let i = 0; i < heightData.length; i++) {
        let sum = 0;
        let count = 0;
        for (let j = -windowSize; j <= windowSize; j++) {
            if (heightData[i + j] !== undefined) {
                sum += heightData[i + j];
                count++;
            }
        }
        smoothedData[i] = sum / count;
    }
    return smoothedData;
}

let ampFactor = 1.7


function makeMesh(texture) {

    // Step 1: Remove the old mesh's rigid body and collider from the physics world

    if (meshGroup) {
        // Remove the old mesh from the scene
        scene.remove(meshGroup);
        
        // Remove the old rigid body and mesh from the arrays
        const meshIndex = window.threeCubes.indexOf(meshGroup);
        if (meshIndex > -1) {
            window.threeCubes.splice(meshIndex, 1);
            window.rigidBodies.splice(meshIndex, 1); // Assuming rigidBodies and threeCubes are synchronized
        }

        meshGroup = undefined;
    }

    const geometry = new THREE.PlaneGeometry(imageWidth, imageHeight, imageWidth - 1, imageHeight - 1);
    geometry.rotateX(-Math.PI / 2);

    const originalVertices = geometry.attributes.position.array;

    // const smoothedHeightData = smoothHeightData(heightData);
    const smoothedHeightData = heightData;
    
    for (let i = 0, j = 0, l = originalVertices.length; i < l; i++, j += 3) {
        originalVertices[j + 1] = smoothedHeightData[i] * ampFactor;
    }

    meshGroup = new THREE.Group();
    scene.add(meshGroup);
    texture.encoding = THREE.sRGBEncoding;
    mesh = new THREE.Mesh(geometry, new THREE.MeshBasicMaterial({ map: texture }));
    meshGroup.add(mesh);
    window.meshGroup = meshGroup

    meshGroup.position.set(0, 1.7, -42);
    meshGroup.rotation.x = 1.35;

    let sc = 1;

    addPhysics(meshGroup, geometry, 20, meshGroup.position, meshGroup.rotation, sc);
}


// function makeMesh(texture) {

//     const geometry = new THREE.PlaneGeometry(imageWidth, imageHeight, imageWidth - 1, imageHeight - 1);

//     geometry.rotateX(-Math.PI / 2);

//     const originalVertices = geometry.attributes.position.array;
//     const smoothedHeightData = smoothHeightData(heightData);
//     for (let i = 0, j = 0, l = originalVertices.length; i < l; i++, j += 3) {
//         originalVertices[j + 1] = smoothedHeightData[i]*ampFactor;
//     }
//     if (meshGroup) {
//         scene.remove(meshGroup);
//         meshGroup = undefined;
//     }
//     meshGroup = new THREE.Group();
//     scene.add(meshGroup);
//     texture.encoding = THREE.sRGBEncoding;
//     mesh = new THREE.Mesh(geometry, new THREE.MeshBasicMaterial({ map: texture })); 
//     meshGroup.add(mesh);
//     window.meshGroup = meshGroup

//     //let someDistance = -12;  

//     meshGroup.position.set(0,1.7,-42);
//     //meshGroup.rotation.set(-1.571,0,0);
//     meshGroup.rotation.x = 1.35

//     let sc = 1;
//     //meshGroup.scale.set(sc, sc, sc);

//     //addPhysics(meshGroup,geometry,20,sc)
//     // addPhysics(mesh, geometry, density, position = {x:0,y:0,z:0} , rotation = {x:0,y:0,z:0}, scale=1) {
//     addPhysics(meshGroup, geometry, 20, meshGroup.position, meshGroup.rotation, sc);
// }


function addPlane(name = "plane",w=3, h=3, position={x:0,y:0,z:0}) {

    const geometry = new THREE.PlaneGeometry(w,h, w - 1, h - 1);
    mesh = new THREE.Mesh(geometry, new THREE.MeshBasicMaterial({ color: 0x1133FE })); 
    mesh.name = name
    mesh.position.set(position)
    scene.add(mesh)

    addPhysics(mesh, geometry)
}

window.addPlane = addPlane;


function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
}

function animate() {
    renderer.setAnimationLoop(render);
}

function render(timeStamp, xrFrame) {
    if(controls) {
        //console.log("controls")
      controls.update();
    }
    if(stats) {
        stats.update()
    }
    updateRapier()
    renderer.render(scene, camera);
}


makeScene();


function handleUploadFormSubmission(e) {

    const formData = new FormData(document.getElementById('uploadForm'));

    fetch('/upload', {
        method: 'POST',
        body: formData
    })
    
    .then(response => response.json())
    
    .then(data => {

        console.log("data", data)

        // Display the images
        document.getElementById('depth-image').src = `${data.depth_image_url}`
        
        // Initialize ThreeJS
        initializeThreeJS(data.image_url, data.depth_image_url);
        document.getElementById('depth-image').classList.remove('pulsating-image');

    })

    .catch(error => {
        console.error('There was an error uploading the image:', error);
    });
}


document.getElementById('uploadForm').addEventListener('submit', handleUploadFormSubmission);

// Add an event listener for the file input change
document.querySelector('input[type="file"]').addEventListener('change', function() {
    const fileInput = this;
    const previewImg = document.getElementById('preview');

    if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();
        
        reader.onload = function(e) {
            // Set the preview image's src to the loaded data URL
            previewImg.src = e.target.result;
            document.getElementById('depth-image').classList.add('pulsating-image');
        };
        
        // Read the selected file as a data URL
        reader.readAsDataURL(fileInput.files[0]);
    }
    
    document.getElementById('uploadForm').dispatchEvent(new Event('submit')); // programmatically submit the form
});


const previewImg = document.getElementById('preview');
const depthImg = document.getElementById('depth-image');

previewImg.onerror = function() {
    this.src = "{{ url_for('static', filename='images/placeholder.png') }}"; // replace with your default image path
};

depthImg.onerror = function() {
    this.src = "{{ url_for('static', filename='images/placeholder.png') }}"; // replace with your default image path
};


/* Gallery */
function loadGallery() {
    fetch("/get-images")
    .then(response => response.json())
    .then(data => {
        let gallery = document.getElementById('galleryContainer');
        gallery.innerHTML = '';  // clear the gallery
        data.images.forEach(img => {
            let originalImg = img.replace('_th.', '.');  // get the name of the original image

            let imgElem = document.createElement('img');
            imgElem.src = "/uploads/" + img;  // set the src to the thumbnail
            imgElem.dataset.originalSrc = "/uploads/" + originalImg;  // store the original image src in a data attribute
            imgElem.style.width = '100%';
            imgElem.style.cursor = 'pointer';
            imgElem.onclick = function() {
                getGallery(imgElem.dataset.originalSrc);
            };
            gallery.appendChild(imgElem);
        });
        document.getElementById('galleryOverlay').style.display = 'block';
    });
}

function getGallery(originalUrl) {
    document.getElementById('preview').src = originalUrl;

    let originalExtension = originalUrl.split('.').pop();  // Get the original file extension
    let depth_image = originalUrl.replace(/(.*\/)uploads(\/[^\/]+)\.[^\.]+$/, `$1outputs$2_depth.${originalExtension.toLowerCase()}`);
    
    console.log("depth_image =>",depth_image)

    document.getElementById('galleryOverlay').style.display = 'none';
    document.getElementById('depth-image').src = depth_image;
    removeAllCubes();
    loadDepthImage(originalUrl, depth_image);
}

function closeGallery() {

    document.getElementById('galleryOverlay').style.display = 'none';

}

window.loadGallery = loadGallery;
window.closeGallery = closeGallery;



</script>


<div id="ui" style="padding-bottom: 50px;">
    <!-- Add padding to account for the fixed button -->
    <div id="imageContainer">
        <img class="im" id="preview" alt="Image Preview" src="{{ url_for('static', filename='images/placeholder.png') }}">
        <img class="im" id="depth-image" alt="Depth Image" src="{{ url_for('static', filename='images/placeholder.png') }}">
    </div>
    <div id="buttonContainer" style="margin-top: 20px; display: flex; justify-content: space-between; align-items: center;">

        <a href="#" onclick="loadGallery()" class="github-corner" rel="noopener noreferrer" aria-label="View source on GitHub">
           <!--  <img src="{{ url_for('static', filename='images/github-mark/github-mark-white.svg') }}" alt="GitHub icon" class="github-icon"> -->
            Gallery
        </a>

        <a href="https://github.com/Immersive-Collective/xr-midas-threejs" class="gallery-corner" target="_blank" rel="noopener noreferrer" aria-label="View source on GitHub">

            <img src="{{ url_for('static', filename='images/github-mark/github-mark-white.svg') }}" alt="GitHub icon" class="github-icon">
        </a>
        

        <form id="uploadForm">
            <label for="file-upload" class="custom-file-upload">
                Upload Image
            </label>
            <input id="file-upload" type="file" name="file" required style="display:none;" />
        </form>
    </div>
</div>

<div id="galleryOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background: rgba(0, 0, 0, 0.8);">
    <div id="galleryContainer" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; padding: 50px; overflow-y: scroll; height: 80%; margin: 5% auto;">
        <!-- Images will be loaded here from Flask -->
    </div>

</div>






</body>

</html>