body, html {
    overflow: hidden;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    user-select: none;
}


@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05); 
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulsating-image {
    animation: pulsate 0.2s infinite;
    display: inline-block; /* Needed for transform to work properly */
}

#main-body {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease, visibility 0s ease;
    background-color: #000000;
}

.visible {
    visibility: visible;
    opacity: 1; 
}


.visible {
    visibility: visible;
    opacity: 1; 
}

a, .custom-file-upload {
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 1.3rem;
    position: fixed;
    z-index: 1000;
    border: 1px solid white;
    opacity: 0.7;
    padding: 0.55rem;
    background-color: rgba(0,0,0,0.25);
    text-transform: uppercase;
    text-decoration: none;
}

a:hover, .custom-file-upload:hover {
    opacity: 1;
}

#github-link {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    opacity: 0.75;
}

#share-link-icon {
    width: 22px;
    height: 22px;
}


#share-link {
    cursor: pointer;
    position: fixed;
    bottom: 50%;
    right: 1rem;
    opacity: 0.75;
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.github-icon {
    width: 25px;
    transition: opacity 0.3s;
}

.github-corner:hover .github-icon {
    opacity: 0.7;
}

.im {
    max-width: 5rem;
    height: auto;
}

.github-corner {
    position: fixed;
    top: 1rem;
    z-index: 1000;
}



/* Prevents the background/body from scrolling when the overlay is open */
body.overflow-hidden {
    overflow: hidden;
}

#galleryOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 1000;
}

#galleryContainer {
    column-width: 10em;
    height: 100%; /* full height of its parent */
    overflow-y: auto;
    padding: 1rem;
}

.g-div-before {
/*  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin: 0.3em;
  height: 10em;
  width: 100%;
  display: inline-block;
  opacity: 0.9;
  transform: scale(1.0);
  transition: transform 0.15s ease;*/
  background: linear-gradient(90deg, rgba(0,0,0,0.25), rgba(0,0,0,0.5));
}

.g-div {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin: 0.3em;
  height: 10em;
  width: 100%;
  display: inline-block;
  opacity: 0.9;
  transform: scale(1.0);
  transition: transform 0.15s ease;
}

.g-div:nth-child(2n) {
    height: 15em;
}

.g-div:nth-child(3n) {
    height: 13em;
}

.g-div:nth-child(4n) {
    height: 12em;
}

.g-div:nth-child(5n) {
    height: 17em;
}

.g-div:nth-child(6n) {
    height: 20em;
}

.g-div:hover {
    opacity: 1;
    transform: scale(1.05);    
}


#file-upload-link {
    position: fixed;
    bottom: 0;
    right: 0;
}

#gallery-link {
    position: fixed;
    top: 0;
    right: 0;    
}


