body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    user-select: none;
}

#main-body {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease, visibility 0s ease;  /* Add transition for opacity and visibility */
    background-color: #000000;
}

.visible {
    visibility: visible;
    opacity: 1; 
}


.visible {
    visibility: visible;
    opacity: 1; 
}

a, .custom-file-upload {
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 1.3rem;
    position: fixed;
    z-index: 1000;
    border: 1px solid white;
    opacity: 0.7;
    padding: 0.55rem;
    background-color: rgba(0,0,0,0.25);
    text-transform: uppercase;
    text-decoration: none;
}

a:hover, .custom-file-upload:hover {
    opacity: 1;
}

#github-link {
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    opacity: 0.75;
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.github-icon {
    width: 25px;
    transition: opacity 0.3s;
}

.github-corner:hover .github-icon {
    opacity: 0.7;
}

.im {
    max-width: 5rem;
    height: auto;
}

.github-corner, .gallery-corner {
    position: fixed;
    top: 1rem;
    z-index: 1000;
}

#galleryContainer {
display: grid;
    gap: 10px;
    padding: 1rem;
    overflow-y: auto;
    height: auto;
    margin: 5% auto;
    max-width: 100%;
    box-sizing: border-box;
    grid-template-rows: masonry;
    grid-template-columns: masonry;
    align-content: space-evenly;
    justify-content: space-around;
    align-items: center;
}  
}



#galleryContainer img {
    width: 100%;
    height: auto;  /* This ensures the aspect ratio of the image is maintained */
    border-radius: 5px;
    opacity: 1;
}

#galleryContainer img:hover {
    opacity: 0.75;
}

#galleryOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}


@media (min-width: 340px) { 
    #galleryContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px) {
    #galleryContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    #galleryContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}


#file-upload-link {
    position: fixed;
    bottom: 0;
    right: 0;
}

#gallery-link {
    position: fixed;
    top: 0;
    right: 0;    
}


